<div class="container" style="margin-top: 30px;">
  <div class="my-history-div" style="position: relative">
    <div class="div-left-my-history">
      <h1 class="title-my-history">My story</h1>
      <p class="sous-title-my-history">CREATE DELICIUOIS MEMORIES</p>
      <hr class="hr_my_history">
      <p class="content-my-history">Hello, my name is Amanda. I am a food blogger based in Los Angeles. This is a blog, where I post my photos, recipes and tips about cooking. I started with Piemont to provide you with my favourite dishes, new ideas and news.</p>
      <%= link_to "ABOUT ME",root_path,class: "btn-about-me-my-history" %>
    </div>
    <div class="div-right-my-history">
      <%= image_tag "my_history_image.jpg",class: "image-my-history" %>
    </div>
        <div class="block-orange-derriere">

    </div>
  </div>
</div>
